﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}
@model IEnumerable<Entidades.DetalleCompra>
@using Entidades;

<input type="hidden" name="accion" value="@ViewBag.Accion" />
<div class="table-responsive">
    <table class="table table-striped table-hover table-secondary">
    <thead>
        <tr>
         
            
            <th style="width:250px;">
                @Html.DisplayName("Zapatos")
            </th>
            <th>
                @Html.DisplayName("CANTIDAD")
            </th>
           
            <th>
                @Html.DisplayName("PRECIO")
            </th>
            <th>
                @if (ViewBag.Accion == "Registrar_Compra" || ViewBag.Accion == "Editar_Compra")
                {
                    <button type="button" onclick="crearDetalles()" class="btn btn-primary">Agregar</button>
                }

            </th>
        </tr>

    </thead>
    <tbody>
        @{
            int index = -1;
        }
        @if (Model != null && Model.Count() > 0)
        {
            var zapatos = ViewData["Lista_Zapatos"] as List<Entidades.Zapato>;
            zapatos.Add(new Zapato() { Nombre = "SELECCIONAR", Id_Zapato = 0, Precio = 0});
            zapatos = zapatos.OrderBy(s=> s.Id_Zapato).ToList();

            @foreach (var item in Model)
            {
                index++;
                // var hidde = "table";
                if (item.Id_DetalleCompra > -1)
                {

                    var selectZapatos= new SelectList( zapatos, "Id_Zapato", "Nombre",item.IdZapatoEnDetalle);
                    var idPrecio = "txtPrecio" + index;
                    var idZapato = "slZapato" + index;
                    <tr>
                      
                        <td >
                            <input type="hidden" value="@item.Id_DetalleCompra" name="Lista_DetalleCompra[@index].Id_DetalleCompra">
                            <input type="hidden" value="@item.IdCompraEnDetalle" name="Lista_DetalleCompra[@index].IdCompraEnDetalle">

                             <select style="width:250px;"  class ="form-control" id="@idZapato"  data-readonly name="Lista_DetalleCompra[@index].IdZapatoEnDetalle" onchange="changeComboZapato('@idZapato','@idPrecio')" asp-items="selectZapatos"></select>
                                 
                              @if (TempData["ProductoRequerido"] != null)
                                {
                                    <div class="alert alert-danger">@TempData["ProductoRequerido"]</div>
                                }

                        </td>
                        <td>
                            <input style="width:250px;" class="form-control" type="number" data-readonly  name="Lista_DetalleCompra[@index].Cantidad"  value="@item.Cantidad">
                               @if (TempData["CantidadRequerida"] != null)
                                {
                                    <div class="alert alert-danger">@TempData["CantidadRequerida"]</div>
                                }                        
                        <td>
                            <input style="width:250px;" class="form-control"  id="@idPrecio" readonly type="number" name="Lista_DetalleCompra[@index].Precio_Producto" value="@item.Precio_Producto">
                        </td>
                        <td>
                            @if (ViewBag.Accion == "Registrar_Compra" || ViewBag.Accion == "Editar_Compra")
                            {
                                <button onclick="eliminarDetalles('@index')" class="btn btn-primary" type="button">Eliminar</button>
                            }

                        </td>
                    </tr>
                }
                else
                {
                    var selectZapatos= new SelectList( zapatos, "Id_Zapato", "Nombre",item.IdZapatoEnDetalle);
                    var idPrecio = "txtPrecio" + index;
                    var idZapato = "slZapato" + index;
                    <tr style="display:none">
                        <td>
                             
                            <input type="hidden" value="@item.Id_DetalleCompra" name="Lista_DetalleCompra[@index].Id_DetalleCompra">

                            <input type="hidden" value="@item.IdCompraEnDetalle" name="Lista_DetalleCompra[@index].IdCompraEnDetalle">

                            <select  class ="form-control" id="@idZapato"  data-readonly name="Lista_DetalleCompra[@index].IdZapatoEnDetalle" onchange="changeComboZapato('@idZapato','@idPrecio')" asp-items="selectZapatos"></select>
                            <input type="hidden" name="Lista_DetalleCompra[@index].Cantidad" value="@item.Cantidad">                      
                            <input type="hidden" name="Lista_DetalleCompra[@index].Precio_Producto" value="@item.Precio_Producto">
                        </td>
                    </tr>
                }
            }
        } 

    </tbody>
</table>
</div>

@if (ViewBag.Accion == "Detalle_Compra" || ViewBag.Accion == "Eliminar_Compra")
{
   
    <script>
        const readOnly = document.querySelectorAll("*[data-readonly]");
        for (var i = 0; i < readOnly.length; i++) {
            const item = readOnly[i];
            item.setAttribute("readonly", true);
        }
        
    </script>
}
else
{
     foreach(var item in  ViewData["Lista_Zapatos"] as List<Zapato>)
    {
        <span data-selectzapatos="@item.Id_Zapato" data-precio="@item.Precio"></span>
    }
    <script>
        function changeComboZapato(idzapato, idprecio) {
            var selectzapato = document.querySelector("#"+idzapato);
            var txtPrecio= document.querySelector("#"+idprecio);
            var spanData=document.querySelector("*[data-selectzapatos='" + selectzapato.value + "']");
            txtPrecio.value = spanData.getAttribute("data-precio");
        }
    </script>
    
}
