@model Entidades.Compra

@{
    ViewData["Title"] = "Detalle_Compra";
}

<h1>Detalle_Compra</h1>

<div>
    <h4>Compra</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaRealizada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaRealizada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Correlativo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Correlativo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Total)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Total)
        </dd>

        <!-- Vista Parcial-->
        <div class="col-md-12" style="margin-top:10px;" id="divDetalleCompra">
            @await Html.PartialAsync("_Detalle_Compra", Model.Lista_DetalleCompra)
        </div>
    </dl>
</div>
<div>
    <a asp-action="Editar_Compra" asp-route-id="@Model.Id_Compra" class="btn btn-primary">EDITAR</a> |
    <a asp-action="Registros_Compras" class="btn btn-secondary">CANCELAR</a>
</div>
